@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  text-decoration: none;
  scroll-behavior: smooth !important;
}

body{
  cursor: url('src/cursor.png'), auto;
}

body:active{
  cursor: url('src/cursor-active.png'), url('src/cursor.png') , auto;

}

img{
  object-fit: cover;
}

li {
  list-style-type: none;
}

section {
  background-color: rgb(245, 245, 245);
  transition: all 300ms ease;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.click {
  cursor: url('src/cursor-active.png') , pointer;
  transition: all 300ms ease;
}

.click:nth-child(5){
  text-decoration: underline;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.order_now {
  width: 70px;
  height: 70px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: #ffffff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  box-shadow: 0 12px 30px 0 rgb(0 , 0 , 0 , 0.2);
}

.scroll {
  position: absolute;
  bottom: 0px;
  left: 50%;
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }

  0% {
    transform: translateY(-3px);
  }
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  left: 0;
  background-color: black;
  transition: all 300ms ease;
}

.link__hover-effect--white::after {
  background-color: white;
}

.link__hover-effect--black::after {
  background-color: #242424;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: white;
  outline: none;
  border: 3px solid #c0c4cc;
  border-top: none;
  border-right: none;
  border-left: none;
  transition: all 300ms ease;
}

input:hover,
textarea:hover {
  border-color: #dcdfe0;
}

input:focus,
textarea:focus {
  border-color: #f06f19;
}

label {
  font-size: 14px;
  font-weight: bold;
}

nav,
.scroll,
.header{
  opacity: 1;
  visibility: visible;
  transition: all 600ms 700ms;

}

.modal__open nav,
.modal__open .scroll,
.modal__open .header{
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ;
  
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header_para
{
  color: white;
}

.dark-theme .orange{
  color: #f06449;
}

.dark-theme section{
  background-color: #242424;
}
.dark-theme #dm_logo{
  filter: none;

}

.dark-theme .scroll__icon{
  border-color: white;

}

.dark-theme .scroll__icon::after,
.dark-theme .link__hover-effect--black:after{
  background-color: white;
}

.dark-theme .order_now{
  background-color: white;
  color: #242424;
}

.hidden{
  visibility: hidden;
}

.show{
  visibility: visible;
}

/*


    landing Page


*/

#landing_page {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}

.title {
  font-size: 70px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.show .title{
  animation: fromBottonToTop 400ms 100ms backwards alternate ease-in;
}

.orange {
  color: #f06449;
}

.header_para {
  font-size: 24px;
  line-height: 1.75;
  max-width: 550px;
}

.show .header_para {
  animation: fromBottonToTop 600ms 200ms backwards alternate ease-in;
}

.social_icons {
  margin-top: 16px;
  display: flex;
}

.show .social_icons{
  animation: fromBottonToTop 400ms 600ms backwards alternate ease-in;
}

@keyframes fromBottonToTop{
  0%{
    visibility: hidden;
    filter: blur(3px);
    transform: translateY(100%);
    overflow: hidden;
    opacity: 0;
  }
  100%{
    overflow: hidden;
    transform: translateY(0);
  }
}

.social_link {
  background-color: #f06449;
  color: white;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}
/*


    navigation


*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  padding: 20px;
}

.nav__link--list {
  display: flex;
}

#dm_logo {
  height: 130px;
  width: 150px;
  filter: invert(1);
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  text-decoration: none;
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

.fa-adjust {
  font-size: 20px;
}

/*


    Modal


*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  transition: visibility 0.3s, z-index 0.3s , box-shaddow 0.3s ease;
  z-index: -1;
}

.modal__open .modal{
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease;

}

.modal__open .modal__about {
  transform: translateX(0%);
  transform: translateX(-110);
}

.modal__open .modal__contact{
  transform: translateX(0%);
  transform: translateX(-110);
}

.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
}

.modal__contact {
  background-color: #242424;
  color: white;
  transform: translateX(110%);
}

.modal__languges {
  display: flex;
  flex-wrap: wrap;
}

.modal__languge {
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
}

.modal__languge:hover {
  transform: scale(0.9);
  filter: brightness(80%);
}

.languge__name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease;
}

.modal__languge:hover .languge__name {
  transform: scale(1);
}

.modal__languge--img {
  width: 100%;
}


.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: #f06f19;
  border: 2px solid #f06449;
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  background-color: transparent;
  border-color: #ffffff;
}

.form__submit:active {
  color: #f06449;
  border-color: #f06449;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--visible{
  z-index: 1;
  display: flex;
}
.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
}

.fa-spinner {
  animation: spinner 750ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal__overlay--success {
  background-color: #4bb543;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 28px;
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #ffffff;
  font-size: 36px;
  z-index: 100;
}
/*       
    Projects
*/

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.project__img {
  width: 100%;
  transition: all 600ms ease;
}

.projects:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.projects {
  margin-bottom: 135px;
}

.project__wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 20px 20px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
  max-width: 1074px;
  max-height: 605px;
}

.project__img{
  max-width: 1074px;
  max-height: 605px;
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translatey(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 550px;
}

.project__wrapper:hover .project__img {
  filter: blur(5px);
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
}

.project__description--title {
  font-size: 40px;
}

.project__description--sub_title {
  margin-top: 8px;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}

.project__description--para {
  margin: 16px 0;
}

/*


    Footer


*/

footer {
  background-color: #242424;
  display: flex;
  padding: 6% 0;
  z-index: inherit;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--img {
  width: 200px;
}

.show .footer__logo--img{
  animation: fromLeftToRight 400ms 300ms backwards alternate ease-in;
}

.footer__social--links {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0 28px 28px;
}

.footer__social--link,
.footer__copyright {
  color: white;
  font-size: 20px;
}

.show .footer__social--link,
.show .footer__copyright{
  animation: fromLeftToRight 400ms 100ms backwards alternate ease-in;
}
 
@keyframes fromLeftToRight{
  0%{
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    filter: blur(3px);
    transform: translateX(-100%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    transform: translateX();
  }
}
/*
    Shapes
*/
.shape{
  position: fixed;
  z-index: inherit;
}
.shape--0{
  top: 35vh;
  left: 5vw;
}
.shape--1{
  top: 15vh;
  left: 50vw;
}.shape--2{
  top: 15vh;
  left: 80vw;
}.shape--3{
  top: 50vh;
  left: 5vw;
}.shape--4{
  top: 50vh;
  left: 50vw;
}.shape--5{
  top: 50vh;
  left: 80vw;
}.shape--6{
  top: 80vh;
  left: 5vw;
}.shape--7{
  top: 80vh;
  left: 50vw;
}.shape--8{
  top: 80vh;
  left: 80vw;
}

/*  
    responsivity (small phones , tablets , large mobile)
*/

@media (max-width: 764px){
  .title{
    font-size: 60px;
  }

  .header_para{
    font-size: 20px;
  }
  
  .order_now{
    max-height: 70px;
    max-width: 70px;
    top: 510px
  }
  .modal{
    top: 0;
    left: 0;
    height: auto;
    transform: none;
    width: 100%;
    flex-direction: column-reverse;

  }

  .modal__half{
    width: 100%;
  }
}

/*
  small Phones
*/

@media(max-width:480px){
  .title{
    font-size: 50px;
  }
  .header__para{
    font-size: 20px;
  }
  .nav__link:first-child{
    display: none;
  }

  .project__description--para{
    display: none;
  }
  .project__description{
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .project__description--sub_title{
    margin-bottom:8px ;
  }
  .modal__half{
    padding: 60px;
  }
}
